body{
    background-color: #404040;
}

.navbar.navbar-inverse{
	border-radius: 0 !important;
}

.navbar-brand h3{
	width: 200px !important;
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive !important;
	margin: 0 0 10px;
	margin-top: -7px !important;
}

.navbar-brand h3 span{
	color:  #5383d3;
}

#content{
	min-height: 550px;
}

/* The switch - the box around the slider */
.switch {
	width: 60px;
	height: 34px;
	position: relative;
	display: inline-block;
	float: right;
}



/* Hide default HTML checkbox */
.switch input{
	display:none;
}

/* The slider */
.slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 34px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	border-radius: 50%;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider{
	background-color: #2196F3;
}

input:focus + .slider{
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before{
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

#login{
	width: 200px;
	position: absolute;
	top: 52px;
	right: 0;
	background-color: #2E2E2E;
	z-index: 1;
}

#login label{
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	font-weight: normal;
	text-align: center;
	color: #fff;
}

#login input, #login button{
	display: block;
	margin: 10px auto;
}

#login input{
	width: 175px;
}

.servercontainer{
	display: block;
	margin-top: 60px;
	margin-bottom: 200px;
	float: right;
}
.formcontainer{
	margin-top: 60px;
    margin-left: 40%;   
    margin-right: auto;
}
.white{
    color: white;
}

.server{
	position: relative;
	width: 300px;
	height: 350px;
	display: block;
	float: left;
	margin: 15px 10px;
	border-radius: 5px;
	color: white;
}

.server img{
	display: block;
	margin: 10px auto;
	border: 1px solid #999;
	border-radius: 3px;
}

.server .infotab{
	display: none;
}

.info{
	position: relative;
	display: block;
	margin-left: 5px;
}

.server.one{
	border: 6px solid #3ba1d6;
	background-color: #266c8e;
}
.server.two{
	border: 6px solid #7f413f;
	background-color: rgb(186, 81, 75);
}
.server.three{
	border: 6px solid #5a6e30;
	background-color: #718b30;
}

#footer{
	height: 60px;
	background-color: #343434;
	margin-top:50px;
	padding-top:20px;
	padding-bottom:20px;
}

#left-nav {
	display: block;
	float: left;
    margin-top: 75px;
    border-radius: 0 10%;
    color: white;
    padding: 10px;
    background: #2b2b2b;
    height: auto;
    width: 200px;
}   

.black{
    color:black;
}
.container{
    width: auto;
}
.open{
	cursor: pointer;
}

#ptitle{
    text-align: center;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.col-right{
    float: none;
    margin-left: 8%;
}
.col-right2{
    float: none;
    margin-left: 1.5%;
}
#map {
    height: 200px;
    width: auto;
    margin-bottom: 5%;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid white;
}
#panelmap1{
    display: none;
    }
#infod{
    background-color: white;
    padding: 6px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 5%;
}

#in{
    float: left;  
}
#form{
    
    float: left;  
}
#paged{
    float: right;
    margin-top: 7px;
    padding-right: 10px;
}

#bericht{
    padding: 50px;
}
#cmenu{
    height: 50px; 
    background-color: #718b30; 
    color: #fff; 
    border: 3px solid #5a6e30; 
    border-radius: 4px;
}

#cmenu2{
    margin: 10px 0;
}
#footerpush{
    min-height: 100%; 
    height: auto 
    !important; 
    height: 100%; 
    margin: 0 auto -60px;
}
#push{
    height: 60px;   
}
@media only screen and (max-width: 900px) {
    #left-nav{
        width: 100%;
        margin-bottom: 10px;
        margin-top: -10px;
    }
    #content{
        margin-left: 0px;
    }
	.servercontainer{
		display: block;
		margin: 0 auto;
		margin-top: 40px;
		float: none;
	}
    #bericht{
    padding: 20px;
}

}
@media only screen and (max-width: 768px) {
  .col-right{
    float: none;
    margin-left: 0%;
    }

}
@media only screen and (max-width: 556px) {
    #in, #form{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #in{
        width: 100%
    }
    .server{
        width: 94%;
    }
}
