.panel-default .panel-heading{
	background-image: -webkit-linear-gradient(top,#595959 0,#3c3c3c 100%);
    background-image: -o-linear-gradient(top,#595959 0,#3c3c3c 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#595959),to(#3c3c3c));
    background-image: linear-gradient(to bottom,#595959 0,#3c3c3c 100%);
	color: #fff;
}

#infod{
	background-color: rgba(239,239,239,1);
}

#formbutton{
	display: block;
	margin: 10px auto;
}