body{
    background:url(../img/background.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
}

#landbu{
    position: absolute;
	left: 50%;
	margin-left: -123px;
	bottom: 20px;
}
.wrapper {
    text-align: center;
}

#bg{
    margin-top: -20px;
    margin-bottom: -46px;
    }
#cont{
    margin-top: 5%;
    position: absolute;
    font-size: 2.9vw;
    width: 100%;
    text-align: center;
}
#landt{
    font-size: 30px;
    margin-top: 10%;
	margin-bottom: 20px;
    margin:auto;
}
#wel{
    float: left;
    margin-top: 15%;
    margin-left: 6.3%;
    width: 40%;
    font-size: 20px;
    text-align: center;
}

#wel2{
    float: left;
    margin-top: 15%;
    margin-left: 12.3%;
    width: 40%;
    font-size: 20px;
    text-align: center;
}
@media only screen and (max-width: 768px) { 
    #wel, #wel2{
        width: 80%;
        margin-left: 10%;
        font-size: 150%;
        margin-top: 140px;
    }
	
	#wel2{
		margin-bottom: 150px;
	}
	
    #cont{
        margin-top: 5%;
        position: absolute;
        font-size: 250%;
        width: 100%;
        text-align: center;
    }
    
    #landbu{
        position: fixed;
	}
}