.sidebar-nav {
    width: 250px;
	display: block;
	float: left;
    margin: 0;
	margin-top: 15px;
    padding: 0;
	background: #343434;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover, .sidebar-nav li .active{
    text-decoration: none;
    color: #fff;
    background-color: #5d5d5d;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#pcontent{
	height: auto;
	min-height: 30px;
	display: block;
	margin-top: 15px;
	margin-bottom: 50px;
	padding-bottom: 19px;
	float: left;
	background-color: #5d5d5d;
}

#filter{
	width: 250px;
	height: auto;
	position: absolute;
	padding: 10px 10px;
	background-color: #343434;
	color: #fff;
}

#filter_button{
	display: none;
}

#products{
	display: block;
	margin: 0 auto;
}

#formbutton{
	margin: 10px 2px;
}

.message{
	position: relative;
	width: 300px;
	height: 300px;
	display: block;
	margin: 10px;
	float: left;
	background-color: rgba(239,239,239,1);
	border: 1px solid #444;
}

.message .info{
	width: 101%;
	height: 50px;
	padding: 4px 0;
	background-image: -webkit-linear-gradient(top,#595959 0,#3c3c3c 100%);
    background-image: -o-linear-gradient(top,#595959 0,#3c3c3c 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#595959),to(#3c3c3c));
    background-image: linear-gradient(to bottom,#595959 0,#3c3c3c 100%);
}

.info{
    margin-left: -1px;
}

.message span{
	display: block;
	margin-left: 10px;
	float: left;
}

.message .name{
	margin: 0;
}

.message .email{
	width: 100%;
	margin: 0;
	margin-left: 20px;
}

.message .comment{
	max-height: 240px;
	padding: 5px 10px;
	color: #000;
	overflow: hidden;
}

.message .comment .overflow{
	position: absolute;
	right: 10px;
	bottom: 10px;
	background-color: rgba(239,239,239,1);
	display: none;
}

#del2{
    margin-top: 10px;
    margin-left: 270px;
    color: #fff; 
    position: absolute; 
    top: 0;
    font-size: 10px;
}

#del{
    color:#a81530; 
    position: absolute; 
    top: 0;
}

#statc{
    width:100px; 
    position: absolute; 
    bottom: 50px; 
    right: 5px;
}

#statc2{
    width:150px; 
    position: absolute; 
    bottom: 10px; 
    right: 5px;
}

#alert{
    width: 100%; 
    text-align: center; 
    color: #fff;
}
@media only screen and (max-width:615px) {
	.sidebar-nav {
		width: 50px;
	}
	
	.sidebar-nav li {
		text-indent: 10px;
	}
	
	#content #options .text{
		display: none;
	}
	
	#filter{
		display: none;
	}
	
	#filter_button{
		display: block;
	}
    .message{
        width: 230px;
    }
    #del2{
        margin-top: 10px;
        margin-left: 200px;
        position: absolute; 
        top: 0;
}
}